.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: 0.2rem;
}

.dataTables_filter {
    margin-right: 0.2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

html:not([dir=rtl]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, html:not([dir=rtl]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link .c-sidebar-nav-icon {
    margin-left: -40px;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left: 5px;
}
.searchable-link {
    padding: 0 5px 0 5px;
}
.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle,
.c-sidebar .c-sidebar-nav-link.c-active {
    background-color: blue;
}

.sub-dropdown {
    /* margin-left: -22px !important; */
}

.self-item-link {
    margin-left: -40px !important;
}

.sub-parent-dropdown {
    margin-left: -40px !important;
}

.c-header {
<<<<<<< HEAD
    background: #fff !important;
=======
    /* background: #ec2121 !important; */
>>>>>>> cd2d642225166b4f75f3b049598607299dbff723
}
.c-header-nav-link {
    /* color: #ffffff !important; */
}

#sidebar {
    background-color: #efefef;
}

/* Search */
.sidebar-search{
    background: #EBEBEB;
}

.sidebar-search__input {
    background: none;
    border: none;
}
.sidebar-search__input:focus {
    color: #768192;
    border: none;
    background: none;
    outline: 0;
    box-shadow: none;
}

.input-group-text {
    border: none;
    background: none;
}

.c-sidebar .c-sidebar-brand,
.c-sidebar .c-sidebar-header {
    background-color: #efefef;
}

.c-sidebar-nav {
    padding-right: 0.5rem;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle,
.c-sidebar .c-sidebar-nav-link {
    color: #23282c !important;
}

html:not([dir="rtl"]) .c-sidebar-nav-icon:first-child {
    color: #707070;
}
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle,
.c-sidebar .c-sidebar-nav-link.c-active {
    color: #fff !important;
    background: #8a0000;
}
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover,
.c-sidebar .c-sidebar-nav-link:hover {
    color: #fff !important;
    background: #8a0000;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-container--default .select2-selection--single {
    /* border-radius: 0px !important; */
}

.toastjs-container {
    z-index: 9999 !important;
}
.toastjs-container p {
    font-size: 15px !important;
    color: black !important;
    font-weight: bold !important;
}

/* Action Buttons */

.border-50 {
    border-radius: 50%;
}




/*
.error_session_response{
    transition: all 0.4s ease-in-out;
}
.slideUp {
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    color: transparent;
} */
